:root {
  --MINEO-black: #000000;
  --MINEO-cod-gray: #1a1a1a;
  --MINEO-mine-shaft: #3b3b3b;
  --FARAH-scorpion: #595959;
  --FARAH-light-gray: #808184;
  --MINEO-silver: #c5c5c5;
  --FARAH-gallery: #efefef;
  --FARAH-wild-sand: #f2f2f2;
  --MINEO-white: #ffffff;
  --FARAH-notify-blue: #5191fc;
  --FARAH-verify-grey: #808184;
  --MINEO-falu-red: #7c131d;
  --MINEO-falu-red-o-60: "rgba(124, 19, 29,0.6)";
  --MINEO-cardinal: #bf1e2e;
  --FARAH-small-grey: #707070;
  --MINEO-ocean-green: #41b58c;
  --MINEO-havelock-blue-o-60: "rgba(5, 132, 213,0.6)";
  --FARAH-white: #ffffff;
  --FARAH-zed-black: #212121;
  --FARAH-black: #000000;
  --FARAH-mid-grey: #bfc1c2;
  --FARAH-error-red: #ff0000;
  --MINEO-proxima-nova: "proxima-nova";
}
